/* font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal; Whenever i want to use this font i just put it like this*/
body {
  background-color: wheat;
  color: white;
}
h1,
h2,
h3 {
  color: white;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}
p {
  color: white;
  font-family: "Pontano Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: lighter;
  font-style: normal;
}
.introduction {
  background-color: black;
  text-align: center;
  margin: 60px;
  padding-left: 50px;
  padding: 160px 30px;
}
.icons {
  padding: 10px;
}
.ig {
  margin-right: 5px;
  font-size: 30px;
}
.link {
  margin-right: 5px;
  font-size: 30px;
}
.git {
  margin-left: 5px;
  font-size: 30px;
}
.btn-branding {
  background: rgb(255, 16, 240);
  border-radius: 40px;
  color: black;
  font-size: 20px;
  line-height: 27px;
  padding: 12px 20px;
  box-shadow: 5px 5px 5px 5px rgb(255, 16, 240);
}
img {
  border-style: solid rgb(255, 16, 240);
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  align-content: right;
  max-width: 100%;
  max-height: 100%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
